/* src/components/routes/LandingPage/Footer/Footer.css */


.footer-container{
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.cont-heading{
    font-size: 2.5em;
    font-weight: 700;

}

.cont-subheading{
    font-size: 1.1em;
    width: 42%;
    margin: auto;
    margin-bottom: 2rem;
}

.deets{
    display: inline;
    margin:5rem ;
    font-size: large;
}

.deetss{
    margin:1rem ;
    font-size: large;
}


.cont-links{
    text-decoration: none;
    color: #969AFF;
}


/* t&c */
.button-h {
    background-color: #7160ce21;
    border: 1px solid;
    border: none;
    width: 20vw;
    margin: auto;
    margin-bottom: 1rem;
    text-decoration: none;
}


/* for mobile screens  */
@media only screen and (min-width: 320px) and (max-width: 900px) {


    .cont-heading{
        margin-bottom: 1rem;
    
    }
    

    .cont-subheading{
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .deets{
        display: block;
        margin:auto ;
        margin-bottom: 1rem;
    }

    

    .button-h{
        width: 60%;
    }
}