/* src/components/routes/Landing/First/First.css */

/* Keyframes for slideInFromRight  slideInFromLeft  */

@keyframes slideInFromLeft {
    to {
        left: 0;
    }
}

@keyframes slideInFromRight {
    to {
        right: 0;
    }
}

.headings {
    position: relative;
    text-align: center;  
    overflow: hidden;
    height: 18vh;
    margin-bottom: 1.5rem;
    
}

.heading-1 {
    position: absolute;
    top: 50%;
    left: -100%;
    width: 100vw;
    font-size: 7.8em;
    word-spacing: 2vw;
    letter-spacing: 10px;
    font-weight: 900;
    line-height: 1;
    transform: translateY(-50%);
    color: transparent; 
    background: linear-gradient(to top, #614fc973 30%, rgba(146, 218, 247, 0.527));
    -webkit-background-clip: text; /* Apply gradient to text */
    background-clip: text;
    z-index: 1; 
    animation: slideInFromLeft 2s ease forwards;
}
.heading-1.visible {
    /* Animation styles when visible */
    opacity: 1;
    transform: translateX(0);
}
.heading-2 {
    position: relative;
    top:35%;
    right: -100%;
    color: rgba(27, 19, 19, 0.726);
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 10px;
    letter-spacing: 2px;
    z-index: 2; 
    animation: slideInFromRight 2s ease forwards;
}

/* ************** */


.super-container {
    position: relative;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden; /* Ensure the image stays within the container */
}

.super-img{
    position: absolute;
    top: -6rem;
    left: 0;
    width:100%;
    height: 150vh;
    z-index: 1;
    opacity: 0.5;
	background-position: center center;
	background-size: contain;
	background-repeat:no-repeat;
}


.super-container-content {
    position: absolute;
    margin:auto;
    margin-top: 10rem; 
    margin-left: 10rem;
    z-index: 10; 
    color: white;
    text-align: left;
    padding: 20px;
    width: 65%;

}

.super-container-line1{
    font-size: 3.5rem;
    font-weight: 600;
    margin: auto;
    margin-bottom: 1rem;

}

.super-container-line2{
    font-size: 1.6rem;
    margin: auto;
    margin-bottom: 2rem;
}

.super-container-btns{
    display: flex;
}

.explore_btn{
    color: transparent; /* Make text transparent */
    background: linear-gradient(to bottom right, #614fc96b 25%, rgb(146, 218, 247));
    border: none;
    border-radius: 2rem;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.explore_btn:hover{
    background-color: white;
}

.contact_btn{
    border: none;
    border-radius: 2rem;
    font-size: 12px;
    font-weight: 600;
    margin-left: 1rem;

}

.contact_btn:hover{
    color: white;
    background: linear-gradient(to top left, #614fc96b 25%, rgb(146, 218, 247));
}

.super-container-satisfied{
    margin: auto;
    margin-top: 2rem;
    font-size: larger;
}

/* ************* */

.about-container {
    position: relative;
    color: black;
}



.about-content {
    position: relative;
    z-index: 10; 
    padding: 10px;
    margin-top: 1rem;
}

.about-card { 
    color: white;
    background: linear-gradient(to top left, #614fc9a1 30%, rgb(114, 211, 247));
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.1em;
    overflow: hidden;
    color: white;
}

/***** Work Cards Section *****/

.work-container {
    margin-bottom: 5rem;
    margin-top: 5rem;
    color: black;
    position: relative;
    overflow: hidden;
}

.work-container::before {
    content: "";
    position: absolute;
    top: 75px;
    left: 50px;
    width: 900px;
    height: 1050px;
    background: linear-gradient(158.27deg, #651FFF 9.95%, #00BCD4 92.81%);
    opacity: 0.25; 
    transform: rotate(-74deg);
    z-index: -10; 
}

.work-container::after {
    content: "";
    position: absolute;
    top: 300px;
    left: 800px;
    width: 760px;
    height: 650px;
    background: linear-gradient(158.27deg, #651FFF 9.95%, #00BCD4 92.81%);
    opacity: 0.25;
    transform: rotate(-130deg);
    z-index: -10; 
}



.work-work {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.575);
    margin: auto;
    border-radius: 2rem;
}

.work-bg {
    position: absolute;
    top: -5rem;
    left: 0;
    width: 100%;
    height: 120vh;
    object-fit: cover;
    z-index: -1;
}

.work-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.work-card {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    border-radius: 20px;
    max-width: 25%;
    opacity: 0.8;
}

.work-card-1 {
    position: absolute;
    top: 10%;
    left: 10%;
}

.work-card-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work-card-3 {
    position: absolute;
    top: 65%;
    left: 65%;
}

.work-card-heading{
    font-size: 1.25rem;
    font-weight: 700;
}

/* ********** */
.categories-container {
    position: relative;
    color: black;
    overflow: hidden;
}


.categories-container::before {
    content: "";
    position: absolute;
    top: 200px;
    left: 500px;
    width: 1000px;
    height: 1250px;
    background: linear-gradient(170deg, #651FFF 9.95%, #00BCD4 92.81%);
    opacity: 0.25; 
    transform: rotate(70deg);
    z-index: -10; 
}

.categories-container::after {
    content: "";
    position: absolute;
    top: 1500px;
    left: 1750px;
    width: 800px;
    height: 1250px;
    background: linear-gradient(120deg, #651FFF 9.95%, #00BCD4 92.81%);
    opacity: 0.25;
    transform: rotate(3deg);
    z-index: -10; 
}

.categories-cards {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.categories-sub-cards {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.category-card {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    margin: auto;
}


.category-card img {
    width: 70%;
    margin: auto;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.category-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.category-card:hover img {
    transform: scale(1.5);
    filter: brightness(50%);
}

.category-card:hover .overlay {
    opacity: 1;
}

.text {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}


/* **************** */



.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    color: black;
    overflow: hidden;
}


.video-container::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 60px;
    width: 800px;
    height: 1200px;
    background: linear-gradient(70deg, #651FFF 40%, #00BCD4 92.81%);
    opacity: 0.25; 
    transform: rotate(-50deg);
    z-index: -10; 
}

.video-container::after {
    content: "";
    position: absolute;
    top: 300px;
    left: 450px;
    width: 800px;
    height: 750px;
    background: linear-gradient(120deg, #651FFF 15%, #00BCD4 95%);
    opacity: 0.25;
    transform: rotate(-45deg);
    z-index: -10; 
}


.video-full {
    width: 90%;
    margin: auto;
}

.video-full iframe {
    width: 80%;
    height: 300px; 
}

.video-half-container {
    display: flex;
    width: 80%;
    margin: auto; 
}

.video-half {
    width: 50%;
}

.video-half iframe {
    width: 80%;
    height: 300px;
    margin: auto;
}

/* *********** */

.team-container {
    position: relative;
    margin-top: 3rem;
    color: black;
    overflow: hidden;
}

.team-container::before {
    content: "";
    position: absolute;
    top: 150px;
    left: 700px;
    width: 900px;
    height: 750px;
    background: linear-gradient(160deg, #651FFF 9.95%, #00BCD4 92.81%);
    opacity: 0.25; 
    transform: rotate(40deg);
    z-index: -10; 
}

.team-container::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 80px;
    width: 900px;
    height: 700px;
    background: linear-gradient(158.27deg, #651FFF 9.95%, #00BCD4 92.81%);
    opacity: 0.25;
    transform: rotate(-30deg);
    z-index: -10; 
}


.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 4rem;
}

.team-member {
    position: relative;
    width: 20%;
    overflow: hidden;
    margin: auto;
}

.team-member img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.team-member .overlayy {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.team-member:hover img {
    transform: scale(1);
    filter: brightness(50%);
}

.team-member:hover .overlayy {
    opacity: 1;
}

.text {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}


/* *********** */

.clients-container{
    width: 100%;
    margin: auto;
    margin-top: 4rem;
}

/* ***************************** */
/* ***************************** */
/* ***************************** */

/* for mobile screens  */
@media only screen and (min-width: 320px) and (max-width: 768px) {


    /* ************** */

    
    .headings {
        height: 10vh;
        margin-bottom: 1rem;
    }

    .heading-1 {
        font-size: 3rem;
        word-spacing: 0.1px;
        letter-spacing: 1px;
       
    }
    .heading-2 {
        font-size: 1.2rem;
        word-spacing: 1vw;
        letter-spacing: 0px;
        margin-top: 0.25rem;
    }


    /* ************** */
    
    .super-container {
        height: 70vh;
    }

    .super-img{
        top: -5rem;
        left: -10rem;
        width:150%;
        height: 120%;
    }


    .super-container-content {
        margin-top: 6rem; 
        margin-left: 2rem;
        width: 90%;

    }

    .super-container-line1{
        font-size: 2.5rem;

    }

    .super-container-line2{
        font-size: 1.25rem;
    }

    .super-container-btns{
        display: flex;
    }


    .super-container-satisfied{
        font-size: 1.25rem;
    }

    /* ************* */


    .about-content {
        margin-top: 0rem;
    }

    .about-card { 
        background: linear-gradient(to bottom right, #614fc9da 50%, rgba(114, 212, 247, 0.952));
        margin-top: 0rem;
    }
    

    /* *************** */

    .work-container {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .work-container::before {
        top: 75px;
        left: -50px;
        width: 900px;
        height: 1050px;
    }

    .work-container::after {
        top: 50px;
        left: 100px;
        width: 900px;
        height: 650px;
    }

    .work-work {
        width: 90%;
        height: 80vh;
    }

    .work-bg {
        top: -15rem;
        left: 0;
        width: 100%;
        height: 120vh;
    }

    .work-cards {
        padding: 1rem;
    }

    .work-card {
        background-color: rgba(0, 0, 0, 0.404);
        color: white;
        padding: 1rem;
        border-radius: 20px;
        max-width: 80%;
        opacity: 0.8;
    }

    .work-card-1 {
        top:8rem;
    }

    .work-card-2 {
        top:20rem;
        left:10%;
        transform: translate(0%, 0%);
    }

    .work-card-3 {
        top: 30rem;
        left: 10%;
    }

    .work-card-heading{
        font-size: 1.4rem;
        font-weight: 700;
    }
        
    /* ****************** */

    .categories-container::before {
        content: "";
        position: absolute;
        top: 100px;
        left: 50px;
        width: 500px;
        height: 550px;
        background: linear-gradient(170deg, #651FFF 9.95%, #00BCD4 92.81%);
        opacity: 0.25; 
        transform: rotate(70deg);
        z-index: -10; 
    }

    .categories-container::after {
        content: "";
        position: absolute;
        top: 100px;
        left: 10px;
        width: 300px;
        height: 700px;
        background: linear-gradient(120deg, #651FFF 9.95%, #00BCD4 92.81%);
        opacity: 0.25;
        transform: rotate(30deg);
        z-index: -10; 
    }

    .categories-cards {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .categories-sub-cards {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    /* ************* */

    .video-container {
        flex-direction: column;
        margin-top: 3rem;
    }


    .video-container::before {
        content: "";
        position: absolute;
        top: 50px;
        left: 60px;
        width: 800px;
        height: 1200px;
        background: linear-gradient(70deg, #651FFF 40%, #00BCD4 92.81%);
        opacity: 0.25; 
        transform: rotate(-50deg);
        z-index: -10; 
    }

    .video-container::after {
        content: "";
        position: absolute;
        top: 300px;
        left: 450px;
        width: 800px;
        height: 750px;
        background: linear-gradient(120deg, #651FFF 15%, #00BCD4 95%);
        opacity: 0.25;
        transform: rotate(-45deg);
        z-index: -10; 
    }


    .video-full {
        width: 100%;
        margin: auto;
    }

    .video-full iframe {
        width: 90%;
        height: 300px; 
    }

    .video-half-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto; 
    }

    .video-half {
        width: 100%;
    }

    .video-half iframe {
        width: 90%;
        height: 300px;
    }
    
    /* *********** */

    .team-container {
        position: relative;
        margin-top: 3rem;
        color: black;
        overflow: hidden;
    }

    .team-container::before {
        top: 150px;
        left: 50px;
        width: 900px;
        height: 750px;
        background: linear-gradient(60deg, #651FFF 9.95%, #00BCD4 92.81%);
        transform: rotate(40deg); 
    }

    .team-container::after {
        top: 10px;
        left:-80px;
        width: 600px;
        height: 600px;
        background: linear-gradient(60deg, #651FFF 80%, #00BCD4 100%);
        transform: rotate(30deg);
    }

    .t-h1{
        letter-spacing: 1vw;
    }

    .team-members {
        gap: 0.5rem;
    }

    .team-member {
        width: 40%;
    }

    .team-member img {
        margin: auto;
        width: 90%;
        height: auto;
    }

}



/* ***************************** */
/* ***************************** */
/* ***************************** */

/* for tablets screens  */
@media only screen and (min-width: 769px) and (max-width: 1250px) {
    
    .super-container {
        height: 100vh;
    }
    
    .super-img{
        height: 100vh;
        opacity: 0.8;
    }
    .super-container-content {
        margin-top: 11rem; 
        margin-left: 3%;
    }
    
    
    .super-container-line1{
        font-size: 2.75rem;
    
    }
    
    .super-container-line2{
        font-size: 1.5rem;
        width: 85%;
    }

    /* ************* */
    .about-cards{
        height: 100vh;
    }
    
    .about-bg {
        height: 100vh;
    }
    
    .about-content {
        z-index: 100; 
        padding: 10px;

    }

    .about-card{
        margin: auto;
        width: 95%; 
    }
    
    /* *************** */

    .work-cards {
        margin-top: 12.5rem;
    }
    
    .work-container{
        flex-direction: column;
        padding: 0.5rem;
    }

    .work-card-left{
        width: 100%;
    }

    .work-card-right{
        width: 100%;
    }

    .card-cont{
        text-align: center;
    }

    .work-imgs{
        width: 50%;
        height: auto;
    }



    /* ******************* */

    .services-cards {
        height: 180vh;
    }

    .services-bg {
        height: 180vh;
    }

    .cardddd {
        margin-bottom: 10px;
    }

    
    /* ****************** */

    
    .video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-full {
        width: 100%;
        margin-bottom: 20px;
    }

    .video-full iframe {
        width: 100%;
        height: 300px; 
    }

    .video-half-container {
        flex-direction: column;
    }

    .video-half {
        width: 100%;
    }

    .video-half iframe {
        width: 100%;
        height: 300px; 
    }

    /* ************* */
    
    .clients-title-2{
        font-size: 1.25rem;
        width: 75%;
        margin: auto;
    }
}

