/* src/components/routes/Landing/LowerFooter/LowerFooter.css */


.lower-footer-lines{
    margin-top: 1rem;
    font-weight: 400;
}


/* for mobile screens */
@media only screen and (min-width: 320px) and (max-width: 750px) {
    .lower-footer-content{
        width: 100%;
        margin: auto;
    }
}